.navbar {
    position: sticky;
    top: 0;
    left: 0;
    /* width: 260px; */
    height: 100vh;
    /* box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .05);
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); */
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.avatar-container {
    position: relative;
    width: fit-content;
}

.image-container {
    height: 125px;
    width: 125px;
    z-index: 1;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    box-shadow: 0 1px 5px 3px rgba(0, 0, 0, .04);
}

.icon-wrapper {
    position: absolute;
    height: 40px;
    width: 40px;
    padding: .35rem;
    background-color: #2962FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 75%;
    z-index: 2;
    cursor: pointer;
}

.icon-wrapper label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper input[type='file'] {
    display: none;
}

.icon-wrapper:hover {
    transition: all .25s;
    background-color: darken(#133fb9, 15%);
}

.icon {
    color: white;
}

.avatar-container label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container.avatar-placeholder {
    background-image: url('../../../assets/images/avatar-placeholder.png');
}

.nav-icon {
    color: rgb(132, 123, 143);
    transform: translateY(-50%);
    background: transparent !important;
    position: relative;
    margin-top: 20px;
}

.nav-icon-container {
    width: inherit;
}

.nav-link {
    height: 56px;
    text-decoration: none;
    color: rgb(93, 90, 97);
    font-family: Heebo;
    font-weight: 500;
}

.active {
    font-weight: 600;
    color: #6c0399;
    background-color: rgba(255, 255, 255, 0.5);
}

.nav-link:hover {
    background-color: #e0e4f3;
}

h4 {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}