<div class="backgroundImage"></div>
<div class="container-fluid login">
    <div class="container content h-100 d-flex flex-column">
        <div class="row">
            <div class="col-12 d-inline-flex flex-gap-1">
                <!-- <h4 class="ps-3 m-0 logo text-dark"><fa-icon [icon]="faUser" class="input-icon"></fa-icon>EmoDump</h4> -->
            </div>
        </div>
        <div class="row align-items-center flex-grow-1">
            <div class="col-6 d-flex flex-column justify-content-center">
                <h1>EmoDump</h1>
                <p class="pe-5">Your Safe Space to Share, Express, and Unload Your Feelings on Social Media.</p>
            </div>
            <div class="col-6 form">
                <app-login-form></app-login-form>
            </div>
        </div>
    </div>
</div>