.container {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 500px;
    width: 500px;
    gap: 20px;
}

input {
    height: 46px;
    outline:none;
}
input:focus{
    border: 2px solid #176BCE;
    
}

i {
    width: 50px;
    height: 50px;
}

.input-icon-container {
    position: relative;
    display: inline-block;
}

.input-with-icon {
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.12 );
    /* backdrop-filter: blur( 15.5px ); */
    /* -webkit-backdrop-filter: blur( 15.5px ); */
    border-radius: 10px;
    padding-left: 35px; 
    /* Adjust based on the size of your icon */
}

.input-icon {
    position: absolute;
    left: 10px;
    /* Adjust based on the desired position of the icon */
    top: 50%;
    transform: translateY(-50%);
}
.login{
    background-color: #176BCE;
    border:none;
    border-radius: 10px;
    height: 46px;
}
.login:hover{
    background-color: #2b84e9;
}
.login:active{
    background-color: #0f4b8f;
}
.no-bg{
    background-color: none !important;
}
p{
    margin: 0;
}
.error-outline.ng-invalid.ng-touched {
    outline: 2px solid rgb(232, 9, 9);
}
.error{
    color: rgb(232, 9, 9);
    font-size: 14px;
}