<div class="container px-5 py-3 d-flex justify-content-center align-items-center flex-column">
    <form action="" [formGroup]="loginForm" (submit)="submit()" class="w-100 d-flex align-items-center justify-content-between py-5 flex-column h-100 gap-5">
        <div class="w-100 gap-2">
            <h3>Sign In</h3>
            <div class="d-flex flex-column gap-2 justify-space-around gap-2">
                <div class="input-icon-container">
                    <mat-icon fontIcon="person" class="input-icon"></mat-icon>
                    <input type="text" class="input-with-icon w-100" placeholder="Username" formControlName="username">
                </div>
                @if(loginForm.get('username')?.errors && loginForm.get('username')?.touched){
                    <p class="error">Invalid username</p>
                }
                <div class="input-icon-container">
                    <mat-icon fontIcon="lock" class="input-icon"></mat-icon>
                    <input type="password" class="input-with-icon w-100" placeholder="Password" formControlName="password">
                </div>
                @if(loginForm.get('password')?.errors && loginForm.get('password')?.touched){
                    <p class="error">Invalid password</p>
                }
                <button class="w-100 login text-white" type="submit">Login</button>
                <div class="buttons d-flex justify-content-between">
                    <div class="remember d-flex justify-content-center align-items-center">
                        <input type="checkbox" class="no-bg">
                        <label for="Remember">Remember Me</label>
                    </div>
                    <a class="align-items-center d-flex" routerLink="/">Forgot Password?</a>
                </div>
            </div>
        </div>
        <div class="button-container d-flex justify-content-center align-items-center flex-column gap-2">
            <p>Not yet Registered? <a routerLink="/register" >Sign Up Now</a></p>
        </div>
    </form>
</div>